* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
.background {
    background: url(calendar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    position: relative;
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

/* Navbar */
.toolbar {
    height: 50px;
    background-color: rgb(37, 37, 37);
    position: relative;
    top: 0;
    padding-top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* First part of navbar */
.datenav {
    margin-right: 30px;
}

.pickdate {
    width: 130px;
    border: none;
    border-radius: 40px;
    padding: 2.5px;
    margin: 0;
}

.confirmdate {
    width: 130px;
    border-radius: 40px;
    padding: 5px;
    border: none;
}

/* Second part of navbar */
.editing_mode {
    margin-left: 30px;
}

.change {
    padding: 5px;
    width: 130px;
    border-radius: 40px;
    border: none;
    background-color: #fff;
    color:  black;
}

/* Navbar hover */
.confirmdate:hover {
    background-color: #5a0101;
    color: #fff;
}

.change:hover {
    background-color: #5a0101;
    color: #fff;
}
/* Navbar Ende*/

/* Cards  */
.calendar {
    position: relative;
    top: 50;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
}

.calendar .card {
    position: relative;
    width: 200px;
    height: 320px;
    background: #fff;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;  
}

.content {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.open {
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #5a0101;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
}

.dropzone {
    bottom: 100px;
    height: 100px;
    width: 200px;
    position: relative;
    top: -65px;
    margin: 0%;
    border: none;
}

/* Cards hover */
.calendar .card:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: rgba(161, 7, 7, 0.973);
}

/* Images */
.one-img {
    width: 250px;
    height: 320px;
    background-image: url(images/one.jpg);
    position: absolute;
    display: none;
}

.two-img {
    width: 250px;
    height: 320px;
    background-image: url(images/two.jpg);
    position: absolute;
    display: none;
}

.three-img {
    width: 250px;
    height: 320px;
    background-image: url(images/three.jpg);
    position: absolute;
    display: none;
}

.four-img {
    width: 250px;
    height: 320px;
    background-image: url(images/four.jpg);
    position: absolute;
    display: none;
}

.five-img {
    width: 250px;
    height: 320px;
    background-image: url(images/five.jpg);
    position: absolute;
    display: none;
}

.six-img {
    width: 250px;
    height: 320px;
    background-image: url(images/six.jpg);
    position: absolute;
    display: none;
}

.seven-img {
    width: 250px;
    height: 320px;
    background-image: url(images/seven.jpg);
    position: absolute;
    display: none;
}

.eight-img {
    width: 250px;
    height: 320px;
    background-image: url(images/eight.jpg);
    position: absolute;
    display: none;
}

.nine-img {
    width: 250px;
    height: 320px;
    background-image: url(images/nine.jpg);
    position: absolute;
    display: none;
}

.ten-img {
    width: 250px;
    height: 320px;
    background-image: url(images/ten.jpg);
    position: absolute;
    display: none;
}

.eleven-img {
    width: 250px;
    height: 320px;
    background-image: url(images/eleven.jpg);
    position: absolute;
    display: none;
}

.twelve-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twelve.jpg);
    position: absolute;
    display: none;
}

.thirteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/thirteen.jpg);
    position: absolute;
    display: none;
}

.fourteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/fourteen.jpg);
    position: absolute;
    display: none;
}

.fifteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/fifteen.jpg);
    position: absolute;
    display: none;
}

.sixteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/sixteen.jpg);
    position: absolute;
    display: none;
}

.seventeen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/seventeen.jpg);
    position: absolute;
    display: none;
}

.eighteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/eighteen.jpg);
    position: absolute;
    display: none;
}

.nineteen-img {
    width: 250px;
    height: 320px;
    background-image: url(images/nineteen.jpg);
    position: absolute;
    display: none;
}

.twenty-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twenty.jpg);
    position: absolute;
    display: none;
}

.twentyone-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twentyone.jpg);
    position: absolute;
    display: none;
}

.twentytwo-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twentytwo.jpg);
    position: absolute;
    display: none;
}

.twentythree-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twentythree.jpg);
    position: absolute;
    display: none;
}

.twentyfour-img {
    width: 250px;
    height: 320px;
    background-image: url(images/twentyfour.jpg);
    position: absolute;
    display: none;
}
/* Images Ende */

/* Circles */
.circle-1 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-2 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-3 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-4 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-5 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-6 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-7 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-8 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-9 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-10 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-11 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-12 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-13 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-14 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-15 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-16 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-17 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-18 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-19 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-20 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-21 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-2 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-22 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-23 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}

.circle-24 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5a0101;
    clip-path: circle(130px at center 0);
    text-align: center;
}
/* Circles Ende */
/* Cards Ende */

/* Screen size */
@media only screen and (max-width: 990px) {
    .datenav {
        margin-right: 0;
        margin-top: 10px;
    }
    
    .editing_mode {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .toolbar {
        height: 80px;
        flex-direction: column;
    }
    
    .calendar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .calendar .card {
        margin: 15px;
    }
  }

@media only screen and (max-width: 570px) {
    .calendar {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
   
    .calendar .card {
        width: 150px;
        height: 280px;
        margin: 15px;
    }

    .open {
        padding: 12px 35px;
    }

    .dropzone {
        height: 50px;
        width: 100px;
    }
}
/* Screen size Ende */